html,
body {
  margin: 0;
  height: 100%;
}

.hero {
  height: 100vh;
  background: url("assets/drum-background.jpg") center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keys {
  display: flex;
  justify-content: space-evenly;
}

.key {
  display: flex;
  flex-direction: column; /* ← this is the missing piece */
  justify-content: center;
  align-items: center;
  color: white;
  height: 100px;
  width: 100px;
  border: solid 5px white;
  margin: 10px;
  transition: all 0.07s;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 20px #ffc600;
}

p {
  font-size: 30px;
  margin: 10px;
}

span {
  text-transform: uppercase;
  color: bisque;
}
